.container {}

.text {
    background-color: blue;
    width: 5%;
}

.imgFirst {
    background-color: pink;
}

.imgSecond {
    background-color: lightgreen;
}

.textSecond {
    background-color: green;
}