.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text,
.imgFirst,
.imgSecond,
.textSecond {
    width: 49%;
    height: 20vh;
}

.text {
    background-color: lightblue;
    width: 100%;
}

.imgFirst {
    background-color: pink;
    width: 100%;
}

.imgSecond {
    background-color: lightgreen;
    width: 60%;
}

.textSecond {
    background-color: green;
    width: 40%;
}