.my__Table,
tr,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    width: 140px;
    height: 40px;
}

.first__row {
    background-color: #068f8f;
}

.first__row:hover {
    background-color: #f5f506;
}

.second__row {
    background-color: #f5f506;
}

.second__row:hover {
    background-color: #068f8f;
}

.greenone {
    position: relative;
    top: 50px;
    /* margin: 20px; */
    height: 350px;
    width: 200px;
    background-color: #D6E3BC;
    border-radius: 8%;
    border: 2px black solid;
}

.screen {
    position: absolute;
    top: 20px;
    left: 16px;
    background-color: white;
    border-radius: 10%;
    border: 2px black solid;
    height: 130px;
    width: 160px;
}

.text {
    font-size: 40px;
    position: absolute;
    left: 32px;
    top: 40px;
}

.buttons {
    position: relative;
    top: 150px;
}

.but1,
.but2,
.but3,
.but4,
.but5,
.but6,
.but7,
.but8,
.but9 {
    height: 40px;
    background-color: #3F3151;
    width: 40px;
    transform: scaleX(1.2);
    border-radius: 50%;
}

.but3 {
    position: absolute;
    left: 140px;
    top: 20px;
}

.but2 {
    position: absolute;
    left: 80px;
    top: 20px;
}

.but1 {
    position: absolute;
    top: 20px;
    left: 20px;
}

.but4 {
    position: absolute;
    top: 80px;
    left: 20px;
}

.but5 {
    position: absolute;
    top: 80px;
    left: 80px;
}

.but6 {
    position: absolute;
    top: 80px;
    left: 140px;
}

.but7 {
    position: absolute;
    top: 140px;
    left: 20px;
}

.but8 {
    position: absolute;
    top: 140px;
    left: 80px;
}

.but9 {
    position: absolute;
    top: 140px;
    left: 140px;
}